@model NewsConcentratorSystem.Models.TelegramChannel

@{
    ViewData["Title"] = "Delete";
}
<style>
    h1,h3{
        text-align: right !important;

        }
     
     
</style>
<div dir="rtl">

    <a href="https://telegram.me/@Model.ChannelUserName">
    <h1>@Model.ChannelUserName</h1>
    </a>

<h3>آیا برای حذف کانال اطمینان دارید؟</h3>
<div>
</div>
    
    <hr />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ChannelId" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت به لیست</a>
    </form>
</div>
